/auth/src/node_modules
/auth/src/public/hotjen
/auth//docker_volumes
/auth/src/storage
/auth/src/storage/photos
/auth/src/storage/temp
/auth/src/storage/*.key
/auth/src/vendor
/auth/src/.phpunit.result.cache
/auth/src/Homestead.json
/auth/src/Homestead.yaml
/auth/src/npm-debug.log
/auth/src/yarn-error.log


/supervisor_admin_website/src/node_modules
/supervisor_admin_website/src/public/hotjen
/supervisor_admin_website//docker_volumes
/supervisor_admin_website/src/storage
/supervisor_admin_website/src/storage/photos
/supervisor_admin_website/src/storage/temp
/supervisor_admin_website/src/storage/*.key
/supervisor_admin_website/src/vendor
/supervisor_admin_website/src/.phpunit.result.cache
/supervisor_admin_website/src/Homestead.json
/supervisor_admin_website/src/Homestead.yaml
/supervisor_admin_website/src/npm-debug.log
/supervisor_admin_website/src/yarn-error.log


/.idea
/.vscode
